.ant-modal-content {
  .ant-modal-header {
    padding: 10px 15px !important;
  }
  
  .ant-modal-close-x {
    width: 42px !important;
    height: 42px !important;
    line-height: 42px !important;
  }

  .ant-modal-body {
    padding: 0px !important;
  }
}

.ant-tabs-bar {
  margin-bottom: 0px !important;
}


.ant-tag {
  margin-right: 0px !important;
}

// .ant-tabs-nav .ant-tabs-tab {
//   padding: 5px 16px 10px 16px !important;
// }